@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;500&family=Yrsa&display=swap");
.header-w {
  position: relative;
  background: url(../images/header__bacground.png) 50% no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 833px;
  padding-top: 24px;
}

.header-w .header {
  max-width: 1516px;
  width: 100%;
  margin: 0 auto;
}

.header-w .header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-w .header .header-top__logoburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-w .header .header-top__continerswrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.header-w .header .header-top__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-w .header .header-top__main .nav {
  margin-top: 9px;
}

.header-w .header .header-top__main .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-w .header .header-top__main .nav__items:not(:first-child) {
  margin-left: 50px;
}

.header-w .header .header-top__main .nav .main__link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #09B3B0;
  text-decoration: none;
}

.header-w .header .header-top .header-searchlogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 42px;
}

.header-w .header .header-top .header-searchlogin__search {
  position: relative;
  width: 49px;
  height: 49px;
  background: url(../images/search__icon.png) 55% no-repeat, #09B3B0 url(../images/icon__element.png) 48% 35% no-repeat;
  border-radius: 50%;
}

.header-w .header .header-top .header-searchlogin__login {
  width: 99px;
  height: 40px;
  margin-left: 53px;
  padding: 8px 24px;
  display: inline-block;
  background-color: #09B3B0;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  text-decoration: none;
}

.header-w .header .header-titles {
  margin-top: 112px;
}

.header-w .header .header-titles__top {
  font-family: 'Winter Insight';
  font-weight: 400;
  font-size: 135px;
  line-height: 96.32%;
  color: #FF9F00;
  margin-bottom: 67px;
}

.header-w .header .header-titles__middle {
  font-family: 'Winter Insight';
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
}

.header-w .header .header-titles__bottom {
  font-family: 'Yrsa';
  font-weight: 400;
  font-size: 64px;
  line-height: 38px;
  letter-spacing: 0.1em;
  color: #FF9F00;
}

.psychicadvisor-w {
  width: 100%;
}

.psychicadvisor-w .psychicadvisor {
  width: 100%;
}

.psychicadvisor-w .psychicadvisor__title {
  width: 100%;
  height: 150px;
  background: #09B3B0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Yrsa';
  font-weight: 400;
  font-size: 72px;
  line-height: 40px;
  color: #FFFFFF;
}

@media (max-width: 1280px) {
  .header .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 992px) {
  .header-w .header .header-top__main .nav__items:not(:first-child) {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .header-w header {
    position: relative;
  }
  .header-w header .header-top {
    position: relative;
    background-color: #FDE5E6;
  }
  .header-w header .header-top .header-top__logoburger {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
  }
  .header-w header .header-top .header-top__continerswrap {
    display: none;
  }
  .header-w header .header-top .header-top__continerswrap .header-top__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-w header .header-top .header-top__continerswrap .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-w header .header-top .header-top__continerswrap .nav__list .nav__items:not(:first-child) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .header-w header .header-top .header-top__continerswrap.active2 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    min-height: 832px;
    z-index: 1;
    background-color: #FDE5E6;
    margin: 0px;
  }
  .header-w header .header-top .header-top__continerswrap .header-searchlogin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-left: 0px;
  }
  .header-w header .header-top .burger {
    display: block;
    position: relative;
    max-width: 40px;
    width: 100%;
    height: 40px;
  }
  .header-w header .header-top .burger::before, .header-w header .header-top .burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #09B3B0;
  }
  .header-w header .header-top .burger::before {
    top: 1px;
  }
  .header-w header .header-top .burger::after {
    bottom: 0;
  }
  .header-w header .header-top .burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #09B3B0;
    top: 19px;
  }
  .header-w header .header-top .burger.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 20px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .header-w header .header-top .burger.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 17px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .header-w header .header-top .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=styles.css.map */